<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/robot.png">
    <title>index</title>
    <link rel="stylesheet" href="/static/css/semantic.css" media="screen" title="no title" charset="utf-8">
    <style media="screen">
    .ui.inverted.top.borderless.teal.menu {
        margin-bottom: 0px;
    }
    .ui.vertical.segment.masthead {
        height: 500px;
        background: url('/static/images/SWFC.jpg');
        background-size: cover;
        background-position: 100% 50%;
        }
    </style>
  </head>
  <body>

    <div class="ui inverted top borderless teal menu">
        <div class="header item">
            <h1 class="ui inverted header">ClroboOs</h1>
        </div>

        <!--<a href="/index/" class="item active"><h3 class="ui inverted header">首页</h3></a>-->
        <!--<a href="/control_panel/" class="item"><h3 class="ui inverted header">控制终端</h3></a>-->

        <div class=" right menu">
          {% if request.user.is_authenticated %}
          <div class="item">
              <h5 class="ui inverted header">
                      <div class="ui mini circular image">
                          <img src=" /static/images/turtlebot.jpeg" alt="">
                      </div>

                      <span>{{request.user.username}}</span>
                  </h5>
          </div>
          <div class="item">

              <a href="/logout/" class="ui inverted circular button">Logout</a>

          </div>
          {% else %}

          <div class="item">

              <a href="/login/" class="ui inverted circular button">Login/Register</a>

          </div>
          {% endif %}

        </div>

    </div>

    <div class="ui inverted vertical segment masthead"></div>

    <div class="ui segment" style="margin-left:15px;margin-right:15px;">
      <div class="ui grid">
        <div class="four wide column">
          <div class="ui  basic segment">
            <div class="ui secondary vertical pointing menu">
              <a href="/index/" class="item active">
                首页
              </a>
                <a  href="/upload/" class="item">
                软件包上传
              </a>
              <a class="item">
                已有镜像管理
              </a>
              <a class="item">
                服务管理
              </a>

            </div>
          </div>
        </div>

        <div class=" two wide column"></div>

        <div class=" eight wide column">
          <div class="ui basic center aligned segment" >
              <div class="ui basic center aligned bosegment" style=" margin-top:30px;">
                  <h3>该系统为机器人云服务远程测试系统</h3>
                  <h3>若需使用其他内容,请登陆后操作</h3>
              </div>
          </div>
        </div>

      </div>

    </div>


  </body>
</html>