<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/robot.png">
    <title>upload</title>
    <link rel="stylesheet" href="/static/css/semantic.css" media="screen" title="no title" charset="utf-8">
    <style media="screen">
    .ui.basic.center.aligned.segment h4 {
      font-style: oblique;
      font-size: 15px;
    }
    </style>
  </head>
  <body>

    <div class="ui inverted top borderless teal menu">
        <div class="header item">
            <h1 class="ui inverted header">ClroboOs</h1>
        </div>


        <div class=" right menu">
          {% if request.user.is_authenticated %}
          <div class="item">
              <h5 class="ui inverted header">
                      <div class="ui mini circular image">
                          <img src=" /static/images/turtlebot.jpeg" alt="">
                      </div>

                      <span>{{request.user.username}}</span>
                  </h5>
          </div>
          <div class="item">

              <a href="/logout/" class="ui inverted circular button">Logout</a>

          </div>
          {% else %}

          <div class="item">

              <a href="/login/" class="ui inverted circular button">Login/Register</a>

          </div>
          {% endif %}

        </div>

    </div>


    <div class="ui container segment" style="margin-left:15px;margin-right:15px;">
      <div class="ui grid">
        <div class="four wide column">
          <div class="ui  basic segment">
            <div class="ui secondary vertical pointing menu">
              <a href="/index/" class="item">
                首页
              </a>
                <a href="/upload/" class="item ">
                软件包上传
              </a>
              <a href="/softwares/" class="item">
                已有镜像管理
              </a>
              <a href="/services/" class="item active">
                服务管理
              </a>

            </div>
          </div>
        </div>
          <div class=" two wide column"></div>
        <div class=" eight wide column">

              <h2 class="ui header">正在运行的服务列表</h2>

             <table class="ui celled table">
              <thead>
                <tr><th>服务id</th>
                <th>文件名</th>
                <th></th>
              </tr></thead>
              <tbody>
                <tr>
                  <td><a>123456789</a></td>
                  <td>test.zip</td>
                  <td><button class="ui red labeled icon button"><i class="stop icon"></i>停止</button></td>
                </tr>
                <tr>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td><button class="ui red labeled icon button"><i class="stop icon"></i>停止</button></td>
                </tr>
                <tr>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td><button class="ui red labeled icon button"><i class="stop icon"></i>停止</button></td>
                </tr>

              </tbody>
              <tfoot>
                <tr><th colspan="3">
                  <div class="ui right floated pagination menu">
                    <a class="icon item">
                      <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                      <i class="right chevron icon"></i>
                    </a>
                  </div>
                </th>
              </tr></tfoot>
            </table>


        </div>

      </div>

    </div>


  </body>
</html>